
body, html{
  height: 100%;
}

.bg{
  background-image: url("https://c.tenor.com/v-8k630mSfEAAAAC/stars-space.gif");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.moon{
  height: 350px;
  width: auto;
}

.clickable{
  cursor: pointer;
  transition: all .2s ease;
  }

  .seeThru{
    background-color: rgba(128, 128, 128, 0.562);
  }